<div class="container"><br>
  <div>

    <nav id="butt" class="nav justify-content-center u">
      <a routerLink="/home" routeLinkActive="active" style="margin-right:70px; color:rgb(67, 65, 99);">Home</a>
      <a routerLink="/login" style="margin-right:70px;  color:rgb(67, 65, 99);">Login</a>
      <a routerLink="/signup" style="margin-right:70px;  color:rgb(67, 65, 99);">Sign Up</a>

    </nav>

    <hr>

  </div>

  <router-outlet></router-outlet>    
  <!--Router view goes here--> 

  
</div>


