<hr class="colorgraph">
<div class="container" style="background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)); padding-bottom: 50px">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" #userName ngModel class="form-control" placeholder="Username" name="userName" required autofocus>
            <input type="password" #password ngModel class="form-control" placeholder="Password" name="password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign In</button>
        </form>
    </div>
    <!-- /card-container -->
</div>
<!-- /container -->