<h4 class class="w3-grey"> add new team captain to subevent</h4>

<div class="row">        

    <div class="col-md-7">


            <form class ="test" #form="ngForm" (ngSubmit)="onSubmit(form)">


              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">


              <div class="row">
                <div class="form-group col s6">
                <label>Name :
                    <label style="color:red">*</label>
                  </label>
                
                <div class="input-field col s12">
                  <input class = "form-control" type="text"name="name" #name="ngModel" [(ngModel)]="userService.selectedUser.name" placeholder="Full Name" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col s6">
                <label>IndexNo :
                    <label style="color:red">*</label>
                  </label>
                
                <div class="input-field col s12">
                  <input class = "form-control" type="text" name="indexNo" #name="ngModel" [(ngModel)]="userService.selectedUser.indexNo" placeholder="Index No" >
                  </div>
                </div>
              </div>

           

              <div class="row">
                <div class="form-group col s6">
                <label>
                  Telephone :
                </label>
                
                <div class="input-field col s12">
                  <input class = "form-control" type="text" name="telephone" #name="ngModel" [(ngModel)]="userService.selectedUser.telephone" placeholder="Telephone" >
                  </div>
                </div>
              </div>
              

               <div class="form-group row col s6">
                  <label>
                    Faculty
                  </label>
                   
                  <div class="input-group">
                    <select class = "form-control " name="faculty" #name="ngModel"[(ngModel)]="userService.selectedUser.faculty" required>
                      <option *ngFor = " let faculty of faculties" value={{faculty}}>{{faculty}}</option>
                    </select>
                    </div>
                </div>
            
              
              <div class="row">
                <div class="form-group col s6">
                <div class="input-field col s12">
                  <button class="w3-button w3-blue w3-round w3-right " type="button" (click)="resetForm(form)">Reset</button>
                  <button class="w3-button w3-blue w3-round" type="submit" [disabled]="!form.valid">Submit</button>
                </div>
              </div>
              </div>

            </form>
    </div>
    <div class="col-md-5">

    	<table class="w3-table">
                  <thead>
                    <tr class="w3-blue">
                 
                      <th>indexNo</th> 
                      <th>faculty</th>
                     
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let teamCaptain of teamCaptainService.teamCaptains">
                    <ng-container *ngIf="teamCaptain.subEventId==subEventId">
                    <td>{{teamCaptain.indexNo}}</td>
                    <td>{{teamCaptain.faculty}}</td>
                    
                        <td>
                        <a class="action-btn w3-red" (click)="onDelete(teamCaptain._id,form)" >
                          delete
                        </a>
                       
                         
                       </td>
                    </ng-container>
                  </tr>
      </table>
    	
    </div>

</div>
