<div style= "text-align:center; height: 140px;">
  <h4 class="jumbotron w3-yellow">Submit Team Card</h4>
</div>


<br>
<br>
<div class="container" >
  
  <div class="col s12">
    <div class="row">
         

          <div class="col s5" >
            <form class ="test" #form="ngForm" (ngSubmit)="onSubmit(form)">


              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">


              <div class="row">
                <div class="form-group col s6">
                <label>Name :
                    <label style="color:red">*</label>
                </label>
                
                <div class="input-field col s12">
                  <input class = "form-control" type="text"name="name" #name="ngModel" [(ngModel)]="userService.selectedUser.name" placeholder="Full Name" required >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col s6">
                <label>IndexNo :
                    <label style="color:red">*</label>
                  </label>
                
                <div class="input-field col s12">
                  <input class = "form-control" type="text" name="indexNo" #name="ngModel" [(ngModel)]="userService.selectedUser.indexNo" placeholder="Index No" required >
                  </div>
                </div>
              </div>

           

              <div class="row">
                <div class="form-group col s6">
                <label>
                  Telephone :
                </label>
                
                <div class="input-field col s12">
                  <input class = "form-control" type="text" name="telephone" #name="ngModel" [(ngModel)]="userService.selectedUser.telephone" placeholder="Telephone" required>
                  </div>
                </div>
              </div>
              

               <div class="form-group row col s6" *ngIf = "false">
                  <label>
                    Faculty
                  </label>
                   
                  <div class="input-group">
                    <select class = "form-control " name="faculty" #name="ngModel"[(ngModel)]="userService.selectedUser.faculty" required>
                      <option *ngFor = " let faculty of faculties" value={{faculty}}>{{faculty}}</option>
                    </select>
                    </div>
                </div>
            
              
              <div class="row">
                <div class="form-group col s6">
                <div class="input-field col s12">
                  <button class="w3-button w3-blue w3-round w3-right " type="button" (click)="resetForm(form)">Reset</button>
                  <button class="w3-button w3-blue w3-round" type="submit" [disabled]="!form.valid">Submit</button>
                </div>
              </div>
              </div>

            </form>
          </div>
         
          <div class="col s7 " style=" height: 520px; 
overflow: scroll;" >
          <div *ngIf="false">
            <div  *ngFor="let user of userService.users">

              <ul>
                <li> {{user.name}}</li>
                <li>{{user.indexNo}} </li>
              </ul>
            
            </div>
            </div>

            <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>RegNo</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let user of userService.users">
                    <td>{{user.name}}</td>
                    <td>{{user.indexNo}}</td>
                    <td></td>
                    <td>
                        <a class="action-btn w3-blue" (click)="onEdit(user)">
                          edit
                        </a>
                    </td>
                    <td>
                        <a class="action-btn w3-red" (click)="onDelete(user._id,form)">
                          delete
                        </a>
                    </td>
                  </tr>
                </table>
              
                <br>
              <p class="">
                
                faculty-{{teamCardService.selectedTeamCard.faculty}}<br>
                <app-showsubeventbyid [subEventId]="teamCardService.selectedTeamCard.subEventId"></app-showsubeventbyid>
                <br>
                

                <button class=" action-btn w3-button w3-red w3-round" (click)="onSubmitTeamCard()">Submit Team Card</button>

              </p>
              
          </div>
      </div> 
</div>
</div>
