
<div class="container-fluid"><!-- start container -->
  
  <div class="row"><!-- start header -->

    <div class="header">
      <h2 class=" ">View Team Card</h2>
    </div>

  </div><!-- end header-->
<div class="row" style="padding-top: 25px">
  <div class="col-md-6">
    
  
       <table class="responsive-table highlight table-sm" style="width: 500px">
                    <thead class="TbBackground">
                      <tr>
                        <th>Name</th>
                        <th>Des</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr class="tableData" *ngFor="let event of eventService.events" >
                      <ng-container *ngIf="event.status=='activated'">
                      <td>{{event.eventName}}</td>
                      <td>{{event.eventDesc}}</td>
                      
                          <td>
                            <button class=" btn btn-primary glyphicon glyphicon-eye-open" (click)="viewSubEvents(event)">View Sub Events</button>
                          
                         
                        </td>
                    </ng-container>
                    </tr>
            </table>
            
      
    </div>
    <div class="col-md-6" >
      
      <table class="responsive-table highlight table-sm" style="width: 500px" *ngIf="showSubEventList">
                    <thead class="TbBackground">
                      <tr >
                        <th>Name</th>
                        <th>Sport</th> 
                       
                        <th></th>
                      </tr>
                    </thead>
                    <tr class="tableData" *ngFor="let subEvent of subEventService.subEvents">
                      <ng-container *ngIf="subEvent.eventId==selectedEventId">
                      <td>{{subEvent.subEventName}}</td>
                      <td>{{subEvent.sport}}</td>
                      
                          <td>
                          
                          <a (click)="enterResults(subEvent)" class="font_button btn btn-info a-btn-slide-text">
                              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                              <span><strong>  View Teams</strong></span>            
                          </a>
                         
                           
                        </td>
                      </ng-container>
                    </tr>
        </table>
  
    </div>
  

  <div  class="responsive-table highlight table-sm" style="padding-top:20px;width: 100%" *ngIf="showEnterResults && showSubEventList ">
    <table class="w3-table">
      <thead class="TbBackground">
        <tr >
          <th>faculty</th>
          <th>sub event details</th> 
          <th>user list</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tr class="tableData" *ngFor="let teamCard of teamCardService.teamCards">
        <ng-container *ngIf="true">
        <td>{{teamCard.faculty}}</td>
        <td>
          <app-showsubeventbyid [subEventId]="teamCard.subEventId"></app-showsubeventbyid>
        </td>
        <td>
          <div *ngFor="let userIndex of teamCard.userIndexList">
                <app-showuserbyindex [userIndex]="userIndex"></app-showuserbyindex>
           
          </div>
        </td>
        
         <td>
            <a class="action-btn w3-red" (click)="onDelete(teamCard._id)">
             delete
            </a>
            <a class="action-btn w3-blue" (click)="onSelectTeamCard(teamCard)">
                Add
            </a>
              
           
             
          </td>
        </ng-container>
      </tr>
    </table>
    </div>

  </div>
  </div>