p{
    font-family: 'Lobster', cursive;
    font-size: 25PX;
    text-align: right;
    font-weight:1000;
    color: rgba(30, 32, 126, 0.493);
}


.u a{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;

    

}