<div class="col-md-5" >
		 <table class="w3-table">
                  <thead>
                    <tr class="w3-blue">
                      <th>Name</th>
                      <th>Des</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let event of eventList" >

                    <td>{{event.eventName}}</td>
                    <td>{{event.eventDesc}}</td>
                    <td>{{event.status}}</td>
                        <td>
                        <a class="action-btn" (click)="onEdit(event)">
                          edit
                        </a>
                        <a class="action-btn" (click)="onDelete(event._id)">
                          delete
                        </a>
                      </td>
                      
                  </tr>
          </table>
          
		
	</div>