
<div class="container-fluid"><!-- start container -->
  
  <div class="row"><!-- start header -->

    <div class="header">
      <h2 class=" ">Register Team Captain</h2>
    </div>

  </div><!-- end header-->
<div class="row" style="padding-top: 25px">
<div class="col-md-6">
  

		 <table class="responsive-table highlight table-sm" style="width: 500px">
                  <thead class="TbBackground">
                    <tr style="border: 2px solid black" >
                      <th>Name</th>
                      <th>Des</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr class="tableData" *ngFor="let event of eventService.events" >
                  	<ng-container *ngIf="event.status=='activated'">
                    <td style="border: 2px solid black">{{event.eventName}}</td>
                    <td style="border: 2px solid black">{{event.eventDesc}}</td>
                    
                        <td style="border: 2px solid black">
                        	<button class=" btn btn-md btn-primary glyphicon glyphicon-eye-open" (click)="viewSubEvents(event)">View Sub Events</button>
                        
                       
                      </td>
                  </ng-container>
                  </tr>
          </table>
          
		
	</div>
	<div class="col-md-6" >
		
    <table class="responsive-table highlight table-sm" style="width: 500px" *ngIf="showSubEventList">
                  <thead class="TbBackground">
                    <tr style="border: 2px solid black">
                      <th>Name</th>
                      <th>Sport</th> 
                     
                      <th></th>
                    </tr>
                  </thead>
                  <tr class="tableData" *ngFor="let subEvent of subEventService.subEvents">
                    <ng-container *ngIf="subEvent.eventId==selectedEventId">
                    <td style="border: 2px solid black">{{subEvent.subEventName}}</td>
                    <td style="border: 2px solid black">{{subEvent.sport}}</td>
                    
                        <td style="border: 2px solid black">
                       
                        <a (click)="addTeamCard(subEvent)" class="font_button btn btn-info a-btn-slide-text">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            <span><strong> Add Team Captain</strong></span>            
                        </a>
                         
                      </td>
                    </ng-container>
                  </tr>
      </table>

	</div>
</div>


<div class="container" *ngIf="userService.selectedUser != null && showUserFormAndList &&  this.selectedSubEvent != null" >
  
  <div class="col s12">

            <br>
            <app-teamcaptain [subEventId]="this.selectedSubEvent._id"></app-teamcaptain>

          
</div>
</div>
</div><!--ens container-->

